.custom-input {
  width: 65px;
  background-color: transparent;
  outline: none;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

@media (any-hover: hover) {
  #startValueHandle:hover {
    transform: scale(1.25)
  }
}